%section.main
  .overlay
  .container
    .row
      .col-md-6.col-sm-6
        / logo
        / <div class="logo"><img src="logo.png" data-at2x="logo@2x.png" alt="logo"></div>
        / logo end
      .col-md-6.col-sm-6
        / social
        .social.text-center
          %ul
            / <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            %li
              =link_to "食品検索", foods_path
            / <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            %li
              =link_to "栄養価検索", nutritives_path
            / <li><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            %li
              %div オススメ料理一覧
            -unless current_user
              %li
                =link_to "新規登録", new_user_registration_path
              %li
                %div ログイン
            -if user_signed_in?
              %li
                =link_to user_path(current_user.id) do
                  -if @user.avatar.present?
                    .top-user-avatar{{style: "background: url(#{@user.avatar}) no-repeat center center; background-size: cover;"}}
                  -else
                    .top-user-avatar{{style: "background: url(../assets/no-face.png) no-repeat center center; background-size: cover;"}}
        / social end
    .row
      .col-md-12
        -if @user.avatar.present?
          .user-avatar{{style: "background: url(#{@user.avatar}) no-repeat center center; background-size: cover;"}}
        -else
          .user-avatar{{style: "background: url(../assets/no-face.png) no-repeat center center; background-size: cover;"}}
        .user-name
          =current_user.name
        / %header.welcome-message.text-center
        /   %h1
        /     %span.rotate 食品・栄養価検索アプリ
        / welcome-message end
        / sub-form
        /
          <div class="sub-form text-center">
          <div class="row">
          <div class="col-md-5 center-block col-sm-8 col-xs-11">
          <form role="form" id="mc-form" action="http://csmthemes.us3.list-manage.com/subscribe/post-json?u=9666c25a337f497687875a388&amp;id=5b881a50fb&amp;c=?">
          <div class="input-group">
          <input type="email" class="form-control" placeholder="Email" required value="" name="EMAIL">
          <span class="input-group-btn">
          <button type="submit" class="btn btn-default" id="mc-subscribe" value="Subscribe" name="subscribe">Submit<i class="fa fa-paper-plane"></i></button>
          </span> </div>
          </form>
          <p id="mc-notification"></p>
          </div>
          </div>
          </div>
        / sub-form end
        / Countdown
%section.features.section-spacing
  =link_to edit_user_path(current_user.id) do
    %span.edit-profile-btn.btn.btn-default プロフィールを編集
  =link_to new_user_recipe_path(current_user.id) do
    %span.recipe-create-btn.btn.btn-default 料理を投稿
  .container
    .aaaa.text-center 投稿した健康料理
    =form_tag class: ".food-search-form" do
      .food-search-form
        =text_field :recipe, :food_id, class: "food-search-form-input", placeholder: "含まれている食品名で検索..."
        %sapn.food-search-form-btn
          =submit_tag "検索", class: "btn btn-default food-search-form-btn"
    .row
      -@recipes.each do |recipe|
        .col-md-6.recipe-image-center
          .wow.fadeInUp.product-features.row.recipe-image-text-center
            .eee
              .recipe-image{{style: "background: url(#{recipe.image}) no-repeat center center; background-size: cover;"}}
            / features 3
            %h3.recipe-name
              =recipe.name
            %h5 原材料名
            -recipe.foods.each do |rf|
              .recipe-food-name
                =rf.name
                .recipe-food-amount
                  =recipe.get_amount_value(recipe, rf)
                  .recipe-food-amount-tani g
      / .col-md-6.recipe-image-center
      /   .wow.fadeInUp.product-features.row.recipe-image-text-center
      /     .eee
      /       .recipe-image
      /     / features 3
      /     %h4.recipe-name 肉じゃが
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      / .col-md-6.recipe-image-center
      /   .wow.fadeInUp.product-features.row.recipe-image-text-center
      /     .eee
      /       .recipe-image
      /     / features 3
      /     %h4.recipe-name 肉じゃが
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      / .col-md-6.recipe-image-center
      /   .wow.fadeInUp.product-features.row.recipe-image-text-center
      /     .eee
      /       .recipe-image
      /     / features 3
      /     %h4.recipe-name 肉じゃが
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
      /     %p 食品の名前から、含まれている栄養価を検索することができます。
