
.recipe-image {
  margin: 20px auto;
  width: 80%;
  height: 250px;
  border: 2px solid #eee;
  background-size: cover;
}
.recipe-image-center {
  margin: 0 auto;
  float: none;
}

.recipe-image-text-center {
  text-align: center;
}

.recipe-name {
  text-align: center;
}


.recipe-back {
  background: url(recipe.jpg) no-repeat center center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.thumb2 {
  height: 250px;
  border: 2px solid #eee;//画像の周りを線で囲って、色をつけている。//
  background-size: cover;
}

#recipe_amounts_ {
  float: right;
}

.food_genre1 {
  margin: 20px 0;
  clear: both;
}

.food_genre2 {
  margin: 20px 0;
  clear: both;
}

.food_genre3 {
  margin: 20px 0;
  clear: both;
}

.amount-tain {
  float: right;
}

.food-search-result {
  width: 100%;
  height: 30px;
  line-height: 30px;
  //高さと同じ値にすると中央に揃う！
  margin: 10px 0;
  border: 2px solid #eee;
}
